* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centreDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.centreDiv>div {
    width: 100%;
}

.loading {
    animation: rotate 1s ease infinite;
    display: block;
}

.invert {
    filter: invert(100%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input[type=text],
input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    height: 17px;
}

#accountArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#accountArea > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.checkingCredentials {
    flex-direction: row !important;
    
}

.hidden {
    display: none !important;
}